<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight(%-5p) [%d{ISO8601}] %c: %m%n%ex</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="console"/>
    </root>
</configuration>
